<app-tunnel-steps currentIndex="4"></app-tunnel-steps>

<!-- Confirmation : recap start  -->
<h2 class="text-center pt-5">Confirmez vos informations de dons</h2>
<div class="card">
    <div class="card-body">
        <div class="rectangle-block">
            <div class="pt-2 pl-5 pr-5 row">
                <div class="col text-left mt-auto mb-auto">
                    <p>
                        <strong>{{offering.name}}</strong>
                        <br/>
                        <strong>{{offering.company}}</strong>
                    </p>
                </div>

                <div class="col text-left mt-auto mb-auto">
                    <p>
                        <strong>{{offering.email}}</strong>
                        <br/>
                        <strong>{{offering.phone}}</strong>
                    </p>
                </div>

                <div class="col text-center">
                    <a class="mt-2 float-right section-link"
                       routerLink="/donate/4">Modifier</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngFor="let item of offering.items">
    <div class="card-body">
        <div class="mt-2 rectangle-block">
            <div class="pt-2 pl-5 pr-5 row">
                <div class="col-md-2 text-center mt-auto mb-auto">
                    <img *ngIf="!!icons[item.type]"
                         [src]="'/assets/images/gifts/'+ icons[item.type]"/>
                </div>

                <div class="col-md-4 text-left">
                    <div>
                        <strong>{{item.quantity}} {{item.type}}</strong><br/>
                        <div *ngIf="item.standard">
                            Norme {{item.standard}}
                        </div><br/>
                        {{item.postalCode + ' ' + item.city}}
                    </div>
                </div>

                <div class="col-4 text-justify">
                    <p>
                        {{item.description}}
                    </p>
                    <!--            <p class="rectangle2-block">-->
                    <!--              <img src="/assets/images/bitmap.png"/>-->
                    <!--            </p>-->
                </div>

                <div class="col-2 text-center">
                    <a class="mt-2 float-right section-link" routerLink="/donate/2">Modifier</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-2 pl-5 pr-5 text-center">
    <p>Merci de vérifier attentivement les informations renseignées</p>
</div>

<app-tunnel-buttons currentIndex="4" (submit)="submit()"></app-tunnel-buttons>


