.card{
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(28, 30, 74, 0.1);
    background-color: #ffffff;
    margin-bottom: 10px;
}

.card-warning{
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.35;
    letter-spacing: -0.39px;
    color: #d7283e;
}

a span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1c1e4a;
}
a:hover {
  text-decoration:none;
}

a.section-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #02adb0;
}
