.tunnel div {
    margin-left:auto;margin-right:auto;
}

#tunnelBullets {
    width:730px;
}

#tunnelSteps {
    width:890px;
}

.tunnel p {
    margin-bottom: 5px;
}

.tunnel-dot-0 {
    float:left;width: 18px;height: 18px;    border: solid 5px #f4f7ff;background-color: #ffffff;;border-radius: 8px;
}
.tunnel-dot-1 {
    float:left;width: 18px;height: 18px;  background-color: #02adb0;border-radius: 8px;
}
.tunnel-separator-0 {
    float:left;width: 160px;height: 5px; border-radius: 2.5px;  background-color: #f4f7ff;margin-top:6px
}
.tunnel-separator-1 {
    float:left;width: 160px;height: 5px; border-radius: 2.5px; background-color: #02adb0;margin-top:6px
}

.tunnel-step {
    width:178px;
    float:left;
}
.tunnel-step-1 {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #1c1e4a;
}
.tunnel-step-0 {
    opacity: 0.9;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: rgba(28, 30, 74, 0.2);
}
