<div class="pt-5 text-center row tunnel d-none d-lg-block">
    <div id="tunnelBullets">
        <div *ngFor="let stepName of steps; let i = index; let last = last">
            <p [ngClass]="i <= currentIndex ?  'tunnel-dot-1' : 'tunnel-dot-0'"></p>
            <p [ngClass]="i < currentIndex ?  'tunnel-separator-1' : 'tunnel-separator-0'" *ngIf="!last"></p>
        </div>
    </div>
    <div id="tunnelSteps">
        <div *ngFor="let stepName of steps; let i = index">
            <p class="text-center tunnel-step " [ngClass]="i <= currentIndex ? 'tunnel-step-1' : 'tunnel-step-0'">
                {{stepName}}</p>
        </div>
    </div>
</div>
