<div class="row center padding-top-10">
    <div *ngIf="currentIndex != 0" class="step-button col-lg-3 col-6">
        <button class="btn btn-primary" routerLink="/donate/{{ currentIndex }}">Précédent</button>
    </div>
    <div class="step-button col-lg-3 col-6">
        <button class="btn btn-primary" (click)="submit.emit($event)">
            {{ currentIndex == 4 ? 'Je confirme' : 'Suivant' }}
        </button>
    </div>
</div>
