<app-tunnel-steps currentIndex="2"></app-tunnel-steps>

<h2 class="text-center pt-5">Où se trouve le matériel</h2>
<div class="text-align-center" *ngIf="offering.items.length > 1">
    <input type="checkbox" id="sameLocation" (change)="changeCb()" [checked]="isSameLocation">
    <label for="sameLocation">La matériel se situe au même endroit</label>
</div>
<div *ngFor="let item of offering.items; let i=index">
    <div *ngIf="!isSameLocation || i === 0">
        <div class="row space-between">
            <div class="col-md-2 mt-2">
                <div class="materiel-type" [ngClass]="item.type" *ngIf="!isSameLocation">
                    <label>{{item.type}}</label>
                </div>
            </div>
            <div class="col-md-5 col-6 mt-2">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Code postal *" [(ngModel)]="item.postalCode">
                </div>
            </div>
            <div class="col-md-5 col-6 mt-2">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Indiquer la ville *" [(ngModel)]="item.city">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="alert alert-danger mt-3 col-auto" role="alert" *ngIf="error">
        {{ error }}
    </div>
</div>

<app-tunnel-buttons currentIndex="2" (submit)="submit()"></app-tunnel-buttons>
