<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" routerLink="/home"><img src="/assets/images/logo-covid.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"
                (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" [collapse]="isCollapsed">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link" [routerLink]="['/home/faq']" routerLinkActive="active">Des questions ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" [routerLink]="['/home/apropos']" routerLinkActive="active">En savoir
                        plus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" [routerLink]="['/home/contact']" routerLinkActive="active">Contact</a>
                </li>
            </ul>
<!--            <ul class="navbar-nav ml-auto">-->
<!--                <li id="call-to-need" class="nav-item">-->
<!--                    <a class="nav-item nav-link" [routerLink]="['/home/faq']" routerLinkActive="active">Les besoins en-->
<!--                        cours</a>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </div>
</nav>
