@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap')

.main-body-container
    display : flex
    flex-direction : column
    height : 100vh
.main-body-container>.container
    flex: 1