<!-- Page Content -->
<div class="container">
  <div class="pt-5 row">
    <div class="col-12 col-lg-7">
      <h1>Proposez du matériel aux hôpitaux</h1>
      <ul id="indexSteps">
        <li>
          <p>01</p>
          <div>Dites nous ce que vous avez à donner</div>
        </li>
        <li>
          <p>02</p>
          <div>Indiquez-nous la localisation du matériel</div>
        </li>
        <li>
          <p>03</p>
          <div>En fonction de la quantité, nous vous contactons et gérons la livraison</div>
        </li>
      </ul>
      <div class="pl-3 row text-center">
        <div class="col-sm-6 mt-3">
          <a class="ml-sm-5 btn btn-primary" routerLink="/donate" routerLinkActive="active">Donner du matériel</a>
        </div>
        <div class="col-sm-6 mt-3">
          <a class="ml-sm-5 btn btn-default" routerLink="/home/faq">Des questions ?</a>
        </div>
      </div>
    </div>
    <div id="mapContent" class="col col-lg-5">
      <img src="/assets/images/map.png" />
    </div>
  </div>
</div>
