<nav id="navBottom" class="navbar-expand-lg navbar-light bg-light mt-5">
    <img src="/assets/images/gradient-bottom.png"/>
    <div class="pl-5 pr-5 pb-5">
        <div class="row text-center">
            <div class="col-12 col-sm-4 text-sm-left"><h3>Partagez sur les réseaux sociaux !</h3></div>
            <div class="col-12 col-sm-4 text-sm-center"><h4>#JEPARTICIPE</h4></div>
            <div class="col-12 col-sm-4 text-sm-right">
                <a class="mr-3" href="https://www.facebook.com/Ensemble-contre-COV-105814431073818/" target="_blank"><img src="/assets/images/facebook.png"/></a>
                <a class="mr-3" href="https://twitter.com/CONTRECOV19" target="_blank"><img src="/assets/images/twitter.png"/></a>
                <a href="https://www.instagram.com/ensemblecontrecovid19/" target="_blank"><img src="/assets/images/instagram.png"/></a>
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="text-left col-lg-5 col-md-12 col-sm-12">© 2020 ensemblecontrecovid19.fr</div>
            <div class="text-left col-lg-7">
                <a class="nav-link mt-2" routerLink="/home/cgu" routerLinkActive="active">
                    Conditions générales d'utilisation
                </a>
                <a class="nav-link mt-2" routerLink="/home/cookies" routerLinkActive="active">
                    Politique de cookie
                </a>
                <a class="nav-link mt-2" routerLink="/home/confidentialite" routerLinkActive="active">
                    Politique de confidentialité
                </a>
            </div>
        </div>
    </div>
</nav>
