<h2 class="text-center">Merci !</h2>
<p class="text-center">Pour participer activement au dons de votre matériel, nous vous invitons à respecter le processus
    ci-dessous</p>

<div class="card">
    <div class="card-body">
        <div class="rectangle-block">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <p>
                        <img src="/assets/images/warning.png" />
                        <br />
                        <strong class="error error-msg">Processus à suivre</strong>
                    </p>
                </div>

                <div class="col-sm-9">
                    <ol>
                        <li>
                            Contacter quelqu'un
                        </li>
                        <li>
                            Respecter les mesures de sécurité et de mouvement émises par le gouvernement
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row center">
                <div class="col-12 col-sm-auto text-center">
                    <button class="btn btn-warn" (click)="confirmation()">Je confirme que j'ai lu et compris le processus
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="confirmOk ? '' : 'filter-blur'">
    <h2 class="text-center">Renseignez votre adresse et nous vous indiquerons qui vous devez contacter</h2>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-secondary d-none d-sm-block" type="submit" (click)="findMe()" [disabled]="isLocalizing">
                <fa-icon [icon]="faCrosshair"></fa-icon>
                Me localiser
            </button>
            <button class="btn btn-secondary d-sm-none" type="submit" (click)="findMe()" [disabled]="isLocalizing">
                <fa-icon [icon]="faCrosshair"></fa-icon>
            </button>
        </div>
        <input type="text" class="form-control" #address placeholder="Adresse, code postal" [(ngModel)]="location">
        <div class="input-group-append">
            <button class="btn btn-success d-none d-sm-block" type="submit" [disabled]="!latLng || isSearching" (click)="searchPharmacies()">
                <fa-icon [icon]="faSearch"></fa-icon>
                Rechercher
            </button>
            <button class="btn btn-success d-sm-none" type="submit" [disabled]="!latLng || isSearching" (click)="searchPharmacies()">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
    </div>
    <div class="card" *ngFor="let professionnel of pharmacies">
        <div class="card-body">
            <div class="mt-2 rectangle-block">
                <div class="row">
                    <div class="col text-center">
                        <img src="/assets/images/professional.png" />
                    </div>

                    <div class="col text-left flex flex-2">
                        <p>
                            <strong>{{professionnel.name}}</strong>
                            <br />
                            <strong>{{professionnel.address}}</strong>
                        </p>
                    </div>

                    <!--                <div class="col text-justify">-->
                    <!--                    <br />-->
                    <!--                    <p class="rectangle2-block">-->
                    <!--                        <img src="/assets/images/phone.png" />-->
                    <!--                        <strong> {{professionnel.phone}}</strong>-->
                    <!--                    </p>-->
                    <!--                </div>-->

                    <div class="col text-center">
                        <a class=" float-right btn btn-default" href="{{ professionnel.link }}" target="_blank">Localiser</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

