<app-tunnel-steps currentIndex="3"></app-tunnel-steps>

<h2 class="text-center pt-5">Renseigner les informations vous concernant</h2>
<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nom / Prénom *" [(ngModel)]="offering.name">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Entreprise" [(ngModel)]="offering.company">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email *" [(ngModel)]="offering.email">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="tel" class="form-control" placeholder="Téléphone *" [(ngModel)]="offering.phone">
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="alert alert-danger mt-3 col-auto" role="alert" *ngIf="error">
        {{ error }}
    </div>
</div>
<app-tunnel-buttons currentIndex="3" (submit)="submit()"></app-tunnel-buttons>
