<h2 class="text-left pl-lg-5 pr-lg-5">Vous souhaitez obtenir de l'aide sur</h2>
<div class="pt-2 pl-lg-5 pr-lg-5 button-container">
    <div class="flex-container">
        <div class="row">
            <div *ngFor="let cat of faqCategories" class="col">
                <button class="btn" [class.btn-primary]="currentCat == cat"
                        [class.btn-default]="currentCat != cat"
                        href="" (click)="setCurrent(cat)">{{ cat.label }}</button>
            </div>
        </div>
    </div>
</div>

<div class="pt-2 pl-lg-5 pr-lg-5" *ngIf="faqCategories">
    <accordion [isAnimated]="true" [closeOthers]="true">
        <accordion-group *ngFor="let question of currentCat.questions; let i=index" #group [isOpen]="i === 0">
            <div accordion-heading>
                {{ question.title }}
                <span class="float-right pull-right">
                    <fa-icon [icon]="group.isOpen ? faChevronUp : faChevronDown"></fa-icon>
                </span>
            </div>
            <div [innerHTML]="question.text">
            </div>
        </accordion-group>
    </accordion>
</div>

