/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

body {
  padding-bottom: 0px !important;
}

* {
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif !important;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}
.custom-file-label::after {
  content: 'Parcourir'!important;
}
.error{
  color: #d7283e;
}
.materiel-type {
  width: 110px;
  height: 36px;
  border-radius: 20px;

  label {
    width: 110px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
  }
}

.masques {
  background-image: linear-gradient(108deg, #ff512f, #f09819) !important;
}

.lunettes {
  background-image: linear-gradient(108deg, #847af2, #5a50c8) !important;
}

.blouses {
  background-image: linear-gradient(103deg, #02aab0, #00cdac) !important;
}

.hydros {
  background-image: linear-gradient(108deg, #11b8f2, #2995e1) !important;
}

.gants {
  background-image: linear-gradient(108deg, #f5c453, #eeb736) !important;
}

.materiel-type {
  background-image: linear-gradient(108deg, #666563, #8b8b8b);
}

.form-group {
  border-radius: 8px;
  background-color: #f4f7ff;
}

.form-control {
  min-height: 60px;
  border: none;
  background-color: #f4f7ff;
  font-weight: bold;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -1px;
  color: #1c1e4a;
}

h1.header-green {
    color:#02adb0;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: -0.5px;
  text-align: center;
  color: #1c1e4a;
}

.bg-light {
  background-color: #ffffff !important;
}

#navbarResponsive li a {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1c1e4a;
  padding-left: 25px;
  padding-right: 25px;
}

#call-to-need {
  width: 200px;
  height: 45px;
  border-radius: 6px;
  border: solid 1.3px #02adb0;
}

ul #call-to-need a {
  width: 200px;
  height: 20px;
  padding-top: 10px;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #02adb0;
}

#navBottom > img {
  width: 100%;
  max-width: 100%
}

#navBottom > div {
  background-color: #f4f7ff !important;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.17px;
  color: #1c1e4a;
}

#navBottom h3 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1c1e4a;
}

#navBottom h4 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  color: #1c1e4a;
}

#navBottom > div > div.col-lg-12 {
  border-top: solid 2px rgba(28, 30, 74, 0.3);
  margin-top: 20px;
  padding-top: 20px;
}

#navBottom .nav-link {
  padding: 0;
  color: #1c1e4a;
}

.container {
  height: auto;
}

.nav-link {
  cursor: pointer;
}
.filter-blur{
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.btn-primary {
  padding-top: 20px;
  width: 220px;
  height: 60px;
  border-radius: 8px;
  border-color: #02aab0;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(103deg, #02aab0, #00cdac), linear-gradient(to bottom, #3a2080, #3a2080), linear-gradient(to bottom, #0054f2, #0054f2);
}

.btn-primary:disabled {
  border-color: #afb9b9;
  background-image: linear-gradient(103deg, #afb9b9, #afb9b9);
}

.btn-default {
  padding-top: 20px;
  width: 220px;
  height: 60px;
  border-radius: 8px;
  border: solid 1.3px #02adb0;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #02adb0;
}

.btn-warn {
  height: 60px;
  border-radius: 8px;
  border-color: #d7283e;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color: #d7283e;
}

.btn-default:disabled {
  opacity: 0.5;
}

// override css component multiselect
.multiselect-dropdown .dropdown-btn {
  border: none !important;
  padding: 5px 0px !important;
  font-weight: bold !important;

  .selected-item {
    font-weight: normal !important;
  }
}

.padding-right-30 {
  padding-right: 30px;
}


input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

input[type=checkbox] {
  -border-radius: 4px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #ccc;
}

input[type="checkbox"]:checked {
  background: #02adb0;
  margin: 0px;
  position: relative;
}

.padding-top-10 {
  padding-top: 10px;
}

.custom-accordion {

  .card-header {
    padding: 0;
  }

  .accordion-img {
    max-height: 50px;
  }

}

#listSocialNetworks > div > div {
  float:left;margin-left:20px;margin-right:20px;
}
