<app-tunnel-steps currentIndex="1"></app-tunnel-steps>

<h2 class="text-center pt-5">Informations sur le matériel</h2>
<div>
  <div>
    <accordion *ngFor="let item of offering.items; let i=index">
      <accordion-group [isOpen]="i === 0" [panelClass]="'custom-accordion'">
        <button class="btn btn-block clearfix d-flex font-weight-bold" accordion-heading type="button">
          <div class="p-2 pre-wrap">
            Renseignez les informations concernant les {{ item.type }}
          </div>
          <span class="ml-auto p-2">
            <img *ngIf="!!icons[item.type]" class="accordion-img"
              [src]="'/assets/images/gifts/'+ icons[item.type]" />
          </span>
        </button>

        <div class="pt-2 pl-lg-5 pr-lg-5 row">
          <div class="col-lg-6">

            <div class="form-group ml-auto mr-auto">
              <input type="number" placeholder="Quantité *" class="form-control" [(ngModel)]="item.quantity">
            </div>

<!--            <div class="input-group">-->
<!--              <input type="text" placeholder="Date de péremption" class="form-control" formControlName="expirationDate"-->
<!--                bsDatepicker>-->
<!--              <div class="input-group-append">-->
<!--                <span class="input-group-text"><img src="/assets/images/calendar.png" /></span>-->
<!--              </div>-->
<!--            </div>-->

            <div class="form-group mt-4">
              <input type="text" class="form-control" placeholder="Type de norme" [(ngModel)]="item.standard">
            </div>

<!--            <div class="custom-file">-->
<!--              <input type="file" class="custom-file-input" id="customFile" accept="image/*" multiple-->
<!--                (change)="onFileChange($event)">-->
<!--              <label class="custom-file-label" for="customFile"><strong>+ Ajouter photo(s)</strong>-->
<!--                {{previewImageList.photosList.length == 0 ? '(Etiquettes, stock…)': ''}}-->
<!--                {{previewImageList.photosList.length == 1 ? previewImageList.photosList[0].name : ''}}-->
<!--                {{previewImageList.photosList.length > 1 ? previewImageList.photosList.length +' photos sélectoinnées' :''}}-->
<!--              </label>-->
<!--              <div class="alert alert-danger" role="alert" *ngIf="imageFileTypeError">-->
<!--                Fichier non valide.-->
<!--              </div>-->
<!--              <div class="image-preview mb-3 row">-->
<!--                <div class="col-md-2 ml-auto mr-auto" *ngFor="let path of previewImageList.pathList">-->
<!--                  <img class="ml-auto mr-auto" [src]="path" height="30" width="30" />-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <textarea rows="11" class="form-control" placeholder="Renseignez les informations que vous jugez utiles"
                 [(ngModel)]="item.description"></textarea>
            </div>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>

<div class="row justify-content-center">
    <div class="alert alert-danger mt-3 col-auto" role="alert" *ngIf="error">
        {{ error }}
    </div>
</div>

<app-tunnel-buttons currentIndex="1" (submit)="submit()"></app-tunnel-buttons>
