<h2 class="text-center pt-5">Nous contacter</h2>
<div class="text-center" [innerHTML]="prismic.contactText"></div>
<form>
    <div class="pb-5 text-center row">
        <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="form-control">
                <div class="input-group">
                    <input required type="text" class="form-control" placeholder="Objet de votre demande *"
                           [(ngModel)]="message.subject" name="subject">
                </div>
            </div>
            <div class="form-control mt-4">
                <div class="input-group">
                    <input required type="text" class="form-control" placeholder="Votre nom *"
                           [(ngModel)]="message.name" name="name">
                </div>
            </div>
            <div class="form-control mt-4">
                <div class="input-group">
                    <input required type="email" class="form-control" placeholder="Votre email *"
                           [(ngModel)]="message.email" name="email">
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="form-control">
                <div class="input-group">
                    <textarea required rows="9" class="form-control" placeholder="Contenu de votre message *"
                              [(ngModel)]="message.content" name="content"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="alert alert-danger mt-3 col-auto" role="alert" *ngIf="error">
            {{ error }}
        </div>
    </div>
    <div class="text-center row">
        <div class="ml-auto mr-auto">
            <button class="btn btn-primary" type="submit" [disabled]="isSending" (click)="sendMessage()">Envoyer</button>
        </div>
    </div>
</form>

<!--<h2 class="mt-5">Rejoignez-nous sur</h2>-->
<!--<div id="listSocialNetworks" class="pt-3 pl-5 pr-5 text-center row">-->
<!--    <div class="ml-auto mr-auto">-->
<!--        <div>-->
<!--            <a href=""><img src="/assets/images/big-linkedin.png"/></a>-->
<!--        </div>-->
<!--        <div>-->
<!--            <a href=""><img src="/assets/images/big-twitter.png"/></a>-->
<!--        </div>-->
<!--        <div>-->
<!--            <a href=""><img src="/assets/images/big-facebook.png"/></a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<ng-template #modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="thanksModalLabel">Confirmation</h5>
        </div>
        <div class="modal-body">
            Votre message a bien été envoyé, merci à vous
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()">
                Fermer
            </button>
        </div>
    </div>
</ng-template>

