<app-tunnel-steps currentIndex="0"></app-tunnel-steps>

<h2 class="text-center pt-5">Sélectionnez ce que vous souhaitez donner</h2>
<div id="giftListPictos" class="pt-2 pl-5 pr-5 text-center row">
  <div class="ml-auto mr-auto d-flex justify-content-center flex-wrap">
    <div>
      <label for="imgMasque">
        <img src="/assets/images/gifts/masques.png"/>
      </label>
      <br/>
      <input type="checkbox" id="imgMasque"
             (change)="checkboxValue.masques = !checkboxValue.masques" [checked]="checkboxValue.masques"/>
      <br/>
      Masques
    </div>
    <div>
      <label for="imgLunette">
        <img src="/assets/images/gifts/lunettes.png"/>
      </label>
      <br/>
      <input type="checkbox" id="imgLunette"
             (change)="checkboxValue.lunettes = !checkboxValue.lunettes" [checked]="checkboxValue.lunettes"/>
      <br/>
      Lunettes
    </div>
    <div>
      <label for="imgBlouse">
        <img src="/assets/images/gifts/blouses.png"/>
      </label>
      <br/>
      <input type="checkbox" id="imgBlouse"
             (change)="checkboxValue.blouses = !checkboxValue.blouses" [checked]="checkboxValue.blouses"/>
      <br/>
      Blouses
    </div>
    <div>
      <label for="imgHydro">
        <img src="/assets/images/gifts/hydro.png"/>
      </label>
      <br/>
      <input type="checkbox" id="imgHydro"
             (change)="checkboxValue.gel = !checkboxValue.gel" [checked]="checkboxValue.gel"/>
      <br/>
      Gel hydro
    </div>
    <div>
      <label for="imgGant">
        <img src="/assets/images/gifts/gants.png"/>
      </label>
      <br/>
      <input type="checkbox" id="imgGant"
             (change)="checkboxValue.gants = !checkboxValue.gants" [checked]="checkboxValue.gants"/>
      <br/>
      Gants
    </div>
  </div>
</div>

<div id="giftListSelect" class="pt-5 pl-5 pr-5 text-center row">
  <div class="ml-auto mr-auto">
    <ng-multiselect-dropdown
      class="form-control"
      [placeholder]="'Autres matériels'"
      [settings]="dropdownSettings"
      [data]="options"
      [(ngModel)]="optionSelected">
    </ng-multiselect-dropdown>
  </div>
</div>

<div class="row justify-content-center">
    <div class="alert alert-danger mt-3 col-auto" role="alert" *ngIf="error">
        {{ error }}
    </div>
</div>

<app-tunnel-buttons currentIndex="0" (submit)="submit()"></app-tunnel-buttons>
