
#giftListPictos > div > div {
  float:left;margin-left:20px;margin-right:20px;
}
#giftListPictos > div > div > input[type=checkbox] {
  margin-top:15px;
}
#giftListSelect select {
  height: 60px;
  border-radius: 8px;
  background-color: #f4f7ff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1c1e4a;
}
#giftListSelect > div {
  width: 470px;
}

.badge {
  border-radius: 20px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding:10px 20px 10px 20px;
  margin-left:10px;
}
.badge-masques {
  background-image: linear-gradient(108deg, #ff512f, #f09819);
}
.badge-lunettes {
  background-image: linear-gradient(108deg, #847af2, #5a50c8);
}
.badge-blouses {
  background-image: linear-gradient(108deg, #02B0AF, #00C4AD);
}
.badge-gel {
  background-image: linear-gradient(108deg, #09C3F9, #308ADC);
}
.badge-gants {
  background-image: linear-gradient(108deg, #FACD64, #EEB635);
}

.form-control {
  height : auto;
  border-color:#f4f7ff;
  border-style:solid;
  border-width:1px;
  background-color : #f4f7ff;
  padding:10px;
}

.dashed-form-control {
  height : auto;
  border: dashed 1.3px #cbcbcb;
  background-color: #ffffff;
  padding:10px;
}

.rev-form-control {
  height : auto;
  border: none;
  background-color: #ffffff;
  padding:10px;
}

.input-group-text {
  border:none;
  background-color:transparent;
}

h2.warning {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.35;
  letter-spacing: -0.39px;
  color: #d7283e;
}

.rectangle-block {
  background-image:url('/assets/images/rectangle.png');background-repeat:no-repeat;background-size: 100% 100%;
  padding:20px 20px 30px 20px;
}

.small-block {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
